body{
	background-color: #F7F7F7;
	font-weight: bold;
}
.regs_box,
.instruction_mem_box,
.data_mem_box,
.stage_box,
.new_var_box,
.flags_box{
	padding-top: 1%;
	padding-bottom: 1%;
	width: 23.8%;
	background-color: #F6CA6D;
	height: 20%;
	border-radius: 7px;
	margin-left: 1%;
	margin-top: 1%;
}
.reg_a,
.reg_t,
.inst_mem,
.data_mem,
.stage{
	width: 70%;
	margin-left: 15%;
	border-radius: 5px;
	text-align: center;
}
.reg_t{
	margin-top: 1%;
}
.h_row{
	display: flex;
}
.ins_mem_inp{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
}
.run{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
}
.show_type{
	float: right;
	margin-right: 1%;
	width: 42%;
}
.line{
	margin-left: 5%;
	width: 90%;
	margin-top: 0.5%;
	border-radius: 4px;
}
.have_breakpoint{
	float: right;
}
.new_var_box{
	width: 70%;
	margin-top: 1.3%;
	margin-left: 2%;
}
.new_var_select{
	width: 35%;
	margin-left: 2%;
}
.new_var_index{
	width: 35%;
	margin-left: 2%;
	margin-right: 2%;
}
.stage_box{
	margin-top: 4%;
}
.run_time{
	margin-right: 2%;
}
.regs_box{
	margin-top: 2%;
}
.new_var_title{
	margin-left: 5%;
	margin-top: 0.5%;
}
.title{
	margin-left: 5%;
}
.app_box{
	margin-top: 2%;
}
.flags_box{
	margin-left: 3%;
}